html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

*::-webkit-input-placeholder {
    color: #000000cf;
    opacity: 1
}

*:-ms-input-placeholder {
    color: #000000cf;
    opacity: 1
}

*::placeholder {
    color: #000000cf;
    opacity: 1
}

*:-ms-input-placeholder {
    color: #000000cf
}

*::-ms-input-placeholder {
    color: #000000cf
}

caption,
th {
    text-align: left;
}

.configurable-application__view-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.configurable-application__view-container .esri-view {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url(../assets/reload3.gif)
}

.configurable-application--loading {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../assets/reload3.gif)
}

.configurable-application--loading .configurable-application__view-container {
    display: none
}

header.top-nav {
    z-index: 1;
    background-color: #767676
}

@media (max-width: 600px) {
    .toolbar-title {
        display: none
    }
}

.top-nav-title,
.top-nav-link {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase
}

#panelTitle h1 {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 6px;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 28px
}

#panelText.nosearch {
    display: block
}

#panelTools {
    min-height: 22px;
    width: calc(100% - 4px);
    margin: 2px;
    clear: both
}

@media only screen and (min-width: 720px) {
    #panelTools {
        min-height: 26px
    }
}

#panelMenu {
    position: absolute;
    top: 10px;
    right: 2px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    display: none
}

.panelTool {
    padding: 1px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block
}

.panelTool input[type="image"] {
    width: 20px;
    height: 20px;
    float: left
}

@media only screen and (min-width: 720px) {
    .panelTool input[type="image"] {
        width: 24px;
        height: 24px;
        float: left
    }
}

.skip a {
    color: black;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    overflow: hidden;
    margin: 0;
    width: auto;
    height: auto;
    padding: 5px 20px;
    clip: rect(1px, 1px, 1px, 1px);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
    z-index: 1000;
    font-size: 14px;
    font-weight: bold
}

@media only screen and (min-width: 720px) {
    .skip a {
        font-size: 18px;
        padding: 10px 40px
    }
}

.skip a:focus {
    clip: auto
}

.skip {
    white-space: nowrap;
    font-size: 18px
}

#panelPages {
    font-family: Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
    height: calc(100% - 68px);
    overflow: auto
}

@media only screen and (min-width: 720px) {
    #panelPages {
        height: calc(100% - 96px)
    }
}

#panelBottom {
    position: absolute;
    bottom: 0px;
    color: white;
    white-space: nowrap;
    width: calc(100% - 4px);
    padding: 2px;
    font-size: 10px
}

@media only screen and (min-width: 720px) {
    #panelBottom {
        width: calc(100% - 8px);
        padding: 4px;
        font-size: 17px
    }
}

.splitterContent {
    overflow-y: hidden !important
}

.borderBottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.borderTop {
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

#leftPanel {
    height: 100%;
    width: 100%;
    background-color: white
}

.leftWrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.leftPanelZero {
    width: 0
}

.leftPanelMin {
    min-width: 300px
}

#borderContainer {
    width: 100%;
    height: 100%
}

.claro .dijitSplitterV {
    background: white;
    border-color: white;
    border-width: 1.5px;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    width: 10px;
    margin: 0;
    -webkit-tap-highlight-color: transparent
}

.claro .dijitSplitterH,
.claro .dijitGutterH {
    background: white;
    border-color: white;
    border-width: 1.5px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    height: 10px;
    margin: 0
}

.claro .dijitSplitterCover {
    background: black;
    opacity: 0.25
}

.claro .dijitSplitterV .dijitSplitterThumb {
    background: gray none;
    height: 20%;
    left: 0.5px;
    width: calc(100% - 1.5px);
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 40%;
    border-radius: 5px
}

.claro .dijitSplitterH .dijitSplitterThumb {
    width: 20%;
    left: 40%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    top: 0.5px;
    height: calc(100% - 1.5px)
}

.claro .dijitSplitterThumb {
    opacity: 0.5
}

.claro .dijitSplitterThumb:hover {
    opacity: 1
}

.claro .dj_a11y .dijitSplitterV {
    border-left: 1px solid #d3d3d3 !important;
    border-right: 1px solid #d3d3d3 !important
}

.claro .dijitSplitter {
    background-color: #fff
}

#panelLogo {
    overflow: hidden;
    line-height: 0;
    margin: 1px;
    display: inline-block
}

#panelLogo img {
    max-height: 24px;
    padding: 2px
}

#panelTitle {
    height: 28px
}

@media only screen and (min-width: 720px) {
    #panelLogo img {
        max-height: 32px;
        padding: 6px 3px
    }
    #panelTitle {
        height: 46px
    }
}

#panelSearch {
    margin: 2px;
    width: 100%;
    position: relative;
    width: calc(100% - 4px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#panelSearch .searchLabel {
    padding: 4px 2px;
    font-size: 12px;
    margin-bottom: 0 !important;
    position: relative;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    white-space: nowrap
}

.arcgisSearch .searchIcon {
    font-size: 16px;
    width: auto;
    height: auto;
    line-height: 10px;
    display: inline-block
}

.arcgisSearch .searchIcon img {
    width: 14px;
    height: 14px
}

.arcgisSearch .searchBtn {
    padding: 0
}

.arcgisSearch .searchGroup .searchInput {
    height: 14px;
    width: 155px;
    padding: 3px 20px 3px 6px;
    font-size: 12px;
    line-height: 16px
}

.arcgisSearch .searchGroup .searchInput {
    background-color: rgba(0, 0, 0, 0.3);
    zoom: 1;
    color: #fff
}

.arcgisSearch .searchGroup .searchInput {
    display: block
}

.arcgisSearch .searchClose,
.arcgisSearch .searchSpinner {
    position: absolute;
    width: 19px;
    height: 19px;
    line-height: 1px
}

.arcgisSearch .searchSpinner {
    opacity: 1
}

.arcgisSearch .searchSpinner {
    display: none;
    color: white;
    left: 0;
    opacity: 1 !important
}

.arcgisSearch .hasMultipleSources .searchToggle {
    display: inline-block;
    float: left
}

.arcgisSearch .hasValue .searchClear {
    background-color: transparent;
    display: -webkit-inline-box;
    width: 20px;
    height: 20px;
    top: 1px
}

@media only screen and (min-width: 720px) {
    #panelSearch .searchLabel {
        padding: 8px 4px;
        font-size: 14px
    }
    .arcgisSearch .searchIcon {
        width: auto;
        height: auto
    }
    .arcgisSearch .searchIcon img {
        width: 20px;
        height: 20px
    }
    .arcgisSearch .searchBtn {
        padding: 6px
    }
    .arcgisSearch .searchGroup .searchInput {
        height: 20px;
        width: 200px;
        padding: 6px 28px 6px 12px;
        font-size: 14px;
        line-height: 20px
    }
    .arcgisSearch .searchClose,
    .arcgisSearch .searchSpinner {
        opacity: 0.75;
        padding: 6px;
        right: 0
    }
    .searchClose:focus,
    .searchClose:hover {
        background-color: rgba(0, 0, 0, 0.701961);
        opacity: 1
    }
    .arcgisSearch .hasValue .searchClear {
        width: 32px;
        height: 32px
    }
}

.headerButton {
    margin: 4px;
    margin-left: 0;
    padding: 0;
    font-size: 16px;
    border-radius: 4px
}

.headerButton span.dijitReset.dijitToggleButtonIconChar,
.headerButton input.dijitOffScreen {
    display: none
}

.headerButton .dijitButtonText {
    padding: 5px 8px;
    font-weight: normal;
    display: -webkit-inline-box
}

#languageSelectNode label {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 0
}

@media only screen and (min-width: 720px) {
    #languageSelectNode label {
        font-size: 18px;
        margin-right: 4px
    }
}

#languageSelectNode .dijitArrowButtonInner {
    display: none
}

.langIcon {
    height: 16px;
    vertical-align: middle
}

.langMenuItemIcon {
    height: 15px;
    vertical-align: middle
}

@media only screen and (min-width: 720px) {
    .langIcon {
        height: 21px;
        padding: 4px;
        padding-left: 0;
        margin-top: -3px
    }
    .langMenuItemIcon {
        height: 20px
    }
}

.setIndicator {
    width: 15px;
    height: 15px;
    top: -1px;
    right: -6px;
    position: absolute;
    z-index: 1000
}

.page {
    overflow: hidden;
    background-color: transparent;
    height: calc(100% - 22px);
    height: 100%;
    position: relative;
    top: 0
}

.pageContent {
    background-color: white;
    height: 100%
}

.pageTitle {
    display: inline;
    font-size: 14px;
    font-weight: bolder;
    overflow: hidden;
    padding: 0 4px;
    margin: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    vertical-align: baseline
}

@media only screen and (min-width: 720px) {
    .pageTitle {
        font-size: 18px;
        font-weight: bold
    }
}

.pageHeader {
    padding: 2px;
    font-size: 12px
}

@media only screen and (min-width: 720px) {
    .pageHeader {
        font-size: 16px
    }
}

.pageHeaderImg {
    position: absolute;
    left: 5px;
    margin-left: 0px;
    top: 11px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 35px
}

.pageIcon {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 40px;
    height: 40px
}

.pageBody {
    width: 100%;
    height: calc(100% - 21px);
    color: #000000;
    overflow: hidden;
    overflow-y: auto;
    background-color: transparent;
    display: inline-block;
    position: relative
}

@media only screen and (min-width: 720px) {
    .pageBody {
        height: calc(100% - 29px)
    }
}

#pageBody_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

@supports ((-webkit-box-pack: space-evenly) or (justify-content: space-evenly)) {
    #pageBody_details {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }
}

.more_help {
    display: block;
    float: right
}

#instructionsDiv {
    padding: 0 5px;
    overflow-y: auto;
    width: calc(100% - 10px)
}

@media only screen and (min-width: 720px) {
    #instructionsDiv {
        padding: 0 10px;
        width: calc(100% - 20px)
    }
}

.instructionsTitle {
    padding: 0;
    margin: 2px;
    font-size: 14px
}

@media only screen and (min-width: 720px) {
    .instructionsTitle {
        margin: 4px;
        font-size: 18px
    }
}

#instructionsList {
    margin: 0;
    -webkit-padding-start: 16px;
    font-size: 12px
}

@media only screen and (min-width: 720px) {
    #instructionsList {
        -webkit-padding-start: 20px;
        font-size: 14px
    }
}

myKey {
    display: inline;
    text-transform: uppercase;
    border: #a1a1a1 1px solid;
    border-radius: 3px;
    padding: 0 4px;
    background: #dbdbdb;
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    margin: 0 1px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(127, 127, 127, 0.9));
    filter: drop-shadow(1px 1px 2px rgba(127, 127, 127, 0.9))
}

myKey img {
    display: inline-block;
    height: 13px;
    margin-bottom: -2px
}

#detailDiv {
    background: white;
    overflow-y: auto;
    color: black;
    width: calc(100% - 20px);
    padding: 10px
}

.detailFull {
    height: calc(100% - 26px)
}

.detailHalf {
    height: auto
}

#overviewDiv,
.overviewDiv {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    z-index: 1;
    overflow: hidden;
    border-radius: 50%
}

#extentDiv {
    border: 2px solid #1f1f1f;
    background-color: rgba(31, 31, 31, 0.2);
    position: absolute;
    z-index: 2;
    display: block;
    cursor: all-scroll
}

.headerPanel {
    width: auto;
    height: 24px;
    display: inline-block;
    margin-bottom: -1px;
    margin-top: -2px;
    vertical-align: bottom
}

.headerControls {
    float: right;
    margin-top: 1px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: -3px
}

.header__numberInput {
    width: 30px;
    background: transparent;
    color: white;
    border: none
}

.toc-panel__list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.toc-panel__listItem {
    padding: 10px 8px;
    border: black solid 1px;
    border-top: none
}

.toc-panel__listItem>label {
    padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px
}

.toc-panel__listItem--settings {
    float: right;
    margin-right: 0px;
    margin-top: 0px
}

.toc-panel__listItem--settings img {
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin-left: 2px;
    opacity: 0.25
}

.FilterTabs {
    position: relative;
    clear: both;
    height: calc(100% - 50px);
    display: -webkit-box
}

.FilterTab {
    max-width: 220px
}

.FilterTab label {
    background-color: #dcdcdc;
    padding: 8px;
    box-shadow: inset 0px -2px 0px 2px dimgrey;
    position: relative;
    border-bottom-left-radius: 8px;
    top: 10px;
    z-index: 1;
    margin-left: 5px
}

.FilterTab [type=radio] {
    display: none;
    position: relative;
    top: calc(100% - 10px)
}

.FilterTab [type=radio]~label~.tabContent {
    display: none
}

.tabContent {
    position: absolute;
    background: transparent;
    height: calc(100% - 20px);
    width: calc(100% - 22px)
}

.FilterTab [type=radio]:checked~label {
    top: 6px;
    z-index: 2;
    box-shadow: inset 0px -2px 0px 2px black !important;
    font-weight: bold;
    background-color: white
}

.FilterTab [type=radio]~.tabContent {
    display: none
}

.FilterTab [type=radio]:checked~.tabContent {
    z-index: 1;
    top: 0
}

.FilterTab span {
    padding: 4px;
    padding-bottom: 2px;
    white-space: nowrap
}

.FilterTab .setIndicator {
    bottom: -6px;
    top: auto;
    left: 4px
}

.filterTabsZone {
    display: -webkit-box;
    display: -ms-flexbox;
    height: 65px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: -7px;
    position: absolute;
    top: calc(100% - 9px);
    width: 100%
}

.filterButtons {
    padding-top: 10px;
    float: 1px
}

.filterTabsContent {
    width: calc(100% - 22px);
    height: calc(100% - 35px);
    border-bottom: 2px solid black;
    padding: 10px;
    position: absolute;
    overflow-y: auto;
    z-index: 2
}

.tabContent {
    background: transparent;
    height: calc(100% - 20px);
    width: calc(100% - 22px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.tabContent ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    padding: 5px;
    overflow-y: auto;
    position: relative;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    height: 100%
}

.tabContent>ul>li {
    border-width: 1px;
    border-style: solid;
    padding: 2px 2px 0 6px;
    margin-bottom: 4px;
    width: calc(100% - 6px);
    border-radius: 5px
}

.filter-filterItem__filterAdd {
    padding-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 4px;
    margin-right: 0px;
    margin-bottom: 6px;
    background: #dcdcdc;
    padding: 4px;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 31px
}

.filter-filterItem__filterAdd label {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-left: 4px;
    white-space: nowrap
}

.filter-filterItem__filterAdd select {
    font-size: 18px;
    width: 100%;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Roboto Condensed', sans-serif
}

.pageBtn {
    background-blend-mode: darken;
    padding: 4px 10px 2px 10px;
    border-radius: 4px;
    font-size: 16px
}

label.checkbox {
    padding: 1.2px 0px;
    font-size: 16px;
    border: 2px solid transparent;
    vertical-align: text-top;
    font-weight: bold;
    display: inline-block
}

.filter-filterItem--header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24px calc(100% - 50px) 24px;
    grid-template-columns: 24px calc(100% - 50px) 24px;
    margin-bottom: 4px
}

.filter-filterItem--header input {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0;
    margin-top: 4px
}

.filter-filterItem--header label {
    -ms-grid-column: 2;
    grid-column: 2;
    margin-right: 4px;
    display: inline-block
}

.filter-filterItem--header button {
    -ms-grid-column: 3;
    grid-column: 3
}

.filter-filterItem__button {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 2px
}

.filter-filterItem__textBox--number:invalid {
    background: #b60000;
    color: white
}

.showErrors {
    background-color: white;
    color: #b60000;
    font-weight: bold;
    margin: 2px 0
}

.filter-filterItem__hasErrors {
    border-color: #b60000
}

.filter__grid-item--Examples li {
    border-style: none;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0
}

.filter__grid-item--Examples li label {
    padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: table
}

.filter__grid-item--Examples li label input,
.filter__grid-item--Examples li label span {
    display: table-cell
}

.filter__grid-item--Examples li label span {
    vertical-align: bottom
}

blockquote[lang] {
    font-style: italic
}

.filter__grid-container {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto
}

.filter__grid-item {
    margin: 0 4px 4px 0
}

.filter__grid-criteria {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
    border: 1px solid dimgray
}

.filter__grid-minValue {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-column: 2;
    grid-row: 1
}

.filter__grid-maxValue {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    grid-row: 2
}

.filter__grid-item--Examples {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    grid-row: 2;
    -ms-grid-column-span: 2
}

.filter__grid-item--Examples ul {
    max-height: 175px;
    overflow: auto;
    border: 1px solid dimgray;
    margin: 0
}

#featuresList {
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    margin: 0px;
    padding-left: 0;
    -webkit-padding-start: 0;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden
}

#featuresList li {
    margin: 3px
}

.borderLi {
    border: solid 1px gray
}

.featureItem h2 {
    font-size: 16px;
    text-align: left
}

.FeatureTableAttributes th {
    font-weight: normal
}

.FeatureTableAttributes td {
    font-weight: bold
}

.featureContentPane {
    margin: -4px -8px
}

#featureListCount {
    float: right;
    color: white;
    padding: 1px 6px
}

.round-border {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 8px;
    margin: 12px;
    margin-bottom: 4px
}

.round-border .esri-direct-line-measurement-3d__container,
.round-border .esri-area-measurement-3d__container,
.round-border .esri-coordinate-conversion {
    padding: 0
}

.round-border h2 {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 8px;
    margin-block-end: 8px
}

.round-border .esri-coordinate-conversion {
    width: 100%
}

.round-border .esri-coordinate-conversion__row {
    padding: 0;
    height: auto
}

.round-border .esri-coordinate-conversion__conversions-view {
    margin: 0
}

.readVectorMap-speaker_showingArea {
    background: #ffffff80;
    padding: 0px 8px;
    pointer-events: none
}

.readVectorMap-speaker_hidingArea {
    background: transparent;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.readVectorMap-speaker_button {
    width: 26px;
    height: 26px;
    padding: 2px;
    border: #ffffff5c solid 1px;
    pointer-events: auto;
    cursor: pointer
}

.readVectorMap-speaker {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto
}

.readVectorMap-speaker_button {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0
}

.infoPanel .infoPanel_Footer {
    position: absolute;
    padding: 0 8px;
    bottom: 0px;
    background: white;
    padding-top: 6px
}

.infoPanel .infoPanel_Footer-locator--Score {
    white-space: nowrap
}

.infoPanel .infoPanel_Footer-locator--Copy {
    position: absolute;
    right: 8px;
    bottom: 7px;
    text-decoration: none
}

.infoPanel .infoPanel_Footer-locator--Copy:hover {
    text-decoration: underline
}

.errorText {
    color: #b60000
}

.mapErrorWrapper {
    background: #b60000;
    color: white;
    padding: 4px 8px;
    border: 1px solid white;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 19px
}

.mapErrorWrapper img {
    vertical-align: top;
    margin-right: 4px
}

.infoPanel_Footer--navBar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.infoPanel_Footer--navBar-leftArrow {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.infoPanel_Footer--navBar-rightArrow {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    grid-column: 3;
    grid-row: 1;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.infoPanel_Footer--navContent {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-column: 2;
    grid-row: 1;
    white-space: nowrap;
    margin: 0 4px
}

.AddressManager {
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
}

.AddressManager .hide {
    display: none;
}

.AddressManager table {
    /* border-bottom: 1px solid black; */
    width: 100%;
    table-layout: fixed;
}

.AddressManager th,
.AddressManager td {
    padding: 1px 4px;
    font-size: 15px;
}

.AddressManager th {
    /* text-align: right; */
    font-weight: normal;
}

.AddressManager td {
    text-align: left;
    font-weight: bold;
}

.AddressManager .toolbar {
    /* width: 100%; */
    flex-grow: 0;
    padding: 12px;
    background: white;
    border-bottom: 1px solid #999999;
}

.AddressManager .toolbar .button {
    width: 26px;
    background: black;
    border-radius: 5px;
    margin-left: 4px;
}

.AddressManager .toolbar .button-right {
    width: 24px;
    background: black;
}

.AddressManager .toolbar .dropdown_moreTools {
    position: relative;
    display: inline-block;
    background-color: white;
}

.AddressManager .ClonePanel {
    position: absolute;
    min-height: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: inset;
}

.AddressManager .pageBtn {
    background: transparent;
    color: gray;
    padding: 4px 12px;
    margin-right: 4px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
    border: none;
    border-radius: 2px;
}

.AddressManager .rightBtn {
    float: right;
    margin: 0;
}

.AddressManager .ClonePanel {
    background: white;
}

.AddressManager .ClonePanel .footer {
    flex-grow: 0;
    padding: 12px;
    border-top: 1px solid #999999;
    /* border: outset; */
    background: #EEEEEE;
}

.AddressManager .ClonePanel .ErrorCell {
    background: darkred;
    color: white;
}

.AddressManager .ClonePanel .RoadCell {
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.AddressManager .ClonePanel .distRoadRange {
    width: 100px;
    height: 16px;
    vertical-align: bottom;
}

.AddressManager table {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 8px;
    table-layout: fixed;
}

.AddressManager table caption {
    font-weight: bold;
    font-size: large;
}

.AddressManager table tr:nth-child(odd) {
    background-color: white;
}

AddressManager th,
.AddressManager td {
    padding: 1px 4px;
    font-weight: bold;
}

.AddressManager .rowImg {
    display: inline-block;
    width: 17px !important;
    height: 17px !important;
}

.AddressManager table input[type="image"] {
    background: #0079c1;
    margin-left: 1px;
    border-radius: 2px;
}

.AddressManager table input[type="text"] {
    background: transparent;
}

.AddressManager .toolbar .addressPointNavigator {
    display: -webkit-inline-box;
    font-size: 18px;
    font-weight: bold;
}