@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700");
* {
    outline-offset: -2px;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.esriPopup.light .actionsPane .action {
    background-image: url("https://js.arcgis.com/3.12/esri/css/calcite/images/popup-sprite.png");
}

#loadingTitle {
    display: none;
}

blockquote {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
}

.claro .dijitArrowButtonInner {
    width: auto;
    height: auto;
    margin: auto;
    background-image: none;
    background-repeat: no-repeat;
}

.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
    color: #000000;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    padding: 0;
    background-color: transparent;
    background-image: none;
}

.claro .dijitButtonText {
    padding: 4px 8px;
    font-weight: bold;
}

.arcgisSearch .showNoResults .noResultsMenu {
    width: calc(100% - 6px);
    margin: 0 2px;
}

.esriRTL label.checkbox {
    float: right;
}

.esriRTL .checkbox {
    float: right;
}

.esriLegendServiceLabel {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    margin: 0;
}

:focus {
    outline-width: 2px;
    outline-offset: -1px;
    outline-style: solid;
}

.esri-input {
    background-color: white !important;
    color: black !important;
}

.esri-search__container {
    flex: 1 0 80% !important;
}

.esri-menu li {
    border-top: solid 1px black;
}

.esri-menu {
    box-shadow: 0 1px 2px black;
}

.esri-search {
    width: auto;
    flex: 1;
}

input.esri-input.esri-search__input::-webkit-input-placeholder {
    color: #0f0f0f;
}